.nav{
    background-color: #7134fe;
    
}
.nav ul li{
    display:inline-flex;
    margin-right:5px;
}
.bolded{
    font-weight: bolder;
    font-size: 40px;
    color:green;
}
.tue{
    font-size: 30px;
}
body{
    margin:0;
}
.nav p{
    margin:0;
}
.para{
    font-size: 20px;
}
#paranav{
    background-color: red;
}
#mylist{
    background-color: orange;
    width:400px;
}
/*
selector {
property:value

}


*/